* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    /* --nombre_variable: valor; */
    /* --borde_ej: 1px solid red; */
    --primary: orange;
}

    .header {
        border: var(--borde_ej);

        grid-area: a;
        height: 100px;
        text-align: center;

        background-color: var(--primary);
    }

    .sidebar {
        border: var(--borde_ej);

        grid-area: b;
        width: auto;
        min-height: 500px;
        height: auto;

        display: flex;
        flex-direction: column;
    }

    .products {
        border: var(--borde_ej);

        grid-area: c;
        height: auto;
        width: auto;

        background-color: rgb(255, 241, 216);
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer {
        border: var(--borde_ej);

        grid-area: d;
        height: 100px;

        background-color: var(--primary);
    }

.grid-boxes {
    border: var(--borde_ej);

    display: grid;
    grid-template-areas: 
    "a a a"
    "b c c"
    "d d d";
}

.products {
    padding: 20px;
}

h3 {
    border: var(--borde_ej);

    margin: 15px;
}

a {
    color: black;
    text-decoration: none;
    margin: 15px;
}

h1 {
    font-size: 50px;
    color: white;
}

.producto {
    border: var(--borde_ej);

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 320px;
}

.box_foto {
    padding: 20px;
}

.box_foto img {
    height: auto;
    max-width: 100%;
}

.info_product {
    height: auto;
    text-align: center;
}

.info_product p {
    margin: 10px;
}

.info_product button {
    background-color: orange;
    padding: 12px;
    border: none;
    width: 50%;
}

.info_product button:hover {
    background-color: rgb(255, 94, 2);
}

footer p {
    text-align: right;
    margin: 20px;
    color: white;
}